body{
    text-align: center;
    background-color: rgb(12, 65, 0);
    color: white;
}
body a{
    color: paleturquoise;

}
.secuencia1{
    position: relative;
    font-family:'Times New Roman', Times, serif;
    padding: 1em;
    background-color: rgb(233, 9, 9);
    position: fixed;
    top: 40%;
    left: 33%;
    scale: 0.8;
    max-width: 500px;
    pointer-events: none;
    color: rgb(80, 78, 78);
}
.secuencia::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(240, 248, 255, 0.466);

}
.secuencia::selection{
    background-color: rgb(0, 0, 0);
    color: black;
}